<mat-card>
    <div class="card m-3">
        <h5 class="card-header">Add New User</h5>
        <div class="card-body">
          <form [formGroup]="registerForms" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <!-- <div class="form-group col">
                <label>Title</label>
                <select formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                  <option value=""></option>
                  <option value="Mr">Mr</option>
                  <option value="Mrs">Mrs</option>
                  <option value="Miss">Miss</option>
                  <option value="Ms">Ms</option>
                </select>
                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                  <div *ngIf="f.title.errors.required">Title is required</div>
                </div>
              </div> -->
              <div class="form-group col-5">
                <label>Name : </label>
                <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">Name is required</div>
                </div>
              </div>
              <div class="form-group col-5" style="margin-top: 5px;">
                <label  style="margin-right: 5px;">Job :   </label>
                <input type="text" formControlName="job" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.job.errors }"/>
                <div *ngIf="submitted && f.job.errors" class="invalid-feedback">
                  <div *ngIf="f.job.errors.required">Job is required</div>
                </div>
              </div>
            </div>
            <div class="text-center" style="margin-top: 5px;">
              <button class="btn btn-primary mr-1">Add</button>
              <button class="btn btn-secondary" type="reset" (click)="onReset()" style="margin-left: 5px;">Cancel</button>
            </div>
          </form>
        </div>
      </div> 
</mat-card>

    
  
